/* You can add global styles to this file, and also import other style files */
:root{
    --dominant-color:rgb(43, 0, 200);
    --second-dominant-color:rgb(0, 187, 200);
    --third-dominant-color:rgb(0, 0, 10);
}

body{
    background: #FFF;
    font-family: 'Merienda', cursive!important;
}


.card-formatter{
    width: 300px!important;
    margin-bottom: 20px;
    max-width: 90% !important;
}

@media all and (max-width:600px){
    .card-formatter{
        display: block !important;
    }
}

.main-page-wrapper{
    max-width: 85%;
    margin-left: 5%;
    margin-right: 10%; 
    margin-top:50px; 
}
   