/* You can add global styles to this file, and also import other style files */
body{
    background: #FFF;
    font-family: 'Merienda', cursive!important;
}

.container{
    margin-left:10%;
    margin-right:15%;
    padding-top:50px;
}