<div class="slds-page-header">
    <div class="slds-page-header__row">
    <div class="slds-page-header__col-title">
    <div class="slds-media">
    <div class="slds-media__figure">
    <a href="javascript:void(0);" (click)="homeClickHandler()">
        <div class="slds-box">
            <i class="fas fa-home page-header-icon"></i>
        </div>       
    </a>
    </div>
    <div class="slds-media__body">
    <div class="slds-page-header__name">
    <div class="slds-page-header__name-title">
    <h1>   
    <span class="slds-page-header__title slds-truncate" [title]="pageTitle"><i [class]="'page-header-icon '+iconClass"></i> {{pageTitle}}</span>
    </h1>
    </div>
    </div>
    <p class="slds-page-header__name-meta">{{pageDescription}}</p>
    </div>
    </div>
    </div>
    </div>
    </div>