.technology-card{
    float:left;
    width:250px;
}

.card-title{
    display: block;
    width: 100%;
    text-align: center;
}

@media all and (max-width:700px){
    .technology-card{
        display: block;
        width:100%;
    }
    
}