<div class="card">
  <img [src]="profileUrl" class="card-img-top" alt="Profile Pic">
  <div class="card-body">
    <h5 class="card-title">{{fullName}}</h5>
    <p class="card-text">{{introduction}}</p>
    <p *ngIf="moreArray.length > 0">More..</p>
  </div>
  <ul *ngIf="moreArray.length > 0" class="list-group list-group-flush">
    <li *ngFor="let moreData of moreArray" class="list-group-item">{{moreData}}</li>
  </ul>
  <div *ngIf="visitLink && visitLinkName" class="card-body">
    <a [routerLink]="visitLink" class="btn btn-info btn-profile-card">{{visitLinkName}}</a>
  </div>
</div>
