<div id="technology-stack-items">

<app-technology-stack-item
class="technology-stack-item" 
presentationIcon='fas fa-server'
stackTitle="Backend" 
stackItemsCSV='C# Language,ASP.NET MVC,ASP.NET Web API,WCF Services'></app-technology-stack-item>

<app-technology-stack-item 
class="technology-stack-item"
presentationIcon='fas fa-database'
stackTitle='Database' 
stackItemsCSV='SQL Server,MySQL'></app-technology-stack-item>

<app-technology-stack-item
class="technology-stack-item"
presentationIcon='fab fa-chrome'
stackTitle='Front End' 
stackItemsCSV='Material Design Lite,Bootstrap,jQuery, Angular 8.x'></app-technology-stack-item>

</div>