<div id="main-sp-wrapper">
<div class="container-fluid">

<div class="row">    
<div id="welcome-page">
<div id="background-animations">
    <h1>Software Developer</h1>
    <h1>Web Developer</h1>
</div>
<div id="foreground-content">
    <div id="title-content">
        <h2>Varun Setia</h2>
        <h3>Full Stack Developer</h3>
    </div>
</div>

</div>
</div>

<div class="row">    
<div id="technology-stack-items-wrapper">
    <app-technology-stack-items></app-technology-stack-items>
</div>
</div>

<div class="row">    
<div id="my-live-apps-wrapper">
    <app-my-live-apps></app-my-live-apps>
</div>
</div>

<div class="row">    
<div id="home-github-repo-item">
    <app-portfolio></app-portfolio>
</div>
</div>

<br />
<br />

</div>
</div>