<div id="main-sp-wrapper">
<div id="welcome-page">
<div id="background-animations">
    <h1>Software Developer</h1>
    <h1>Web Developer</h1>
</div>
<div id="foreground-content">
    <div id="title-content">
        <h2>Varun Setia</h2>
        <h3>Full Stack Developer</h3>
    </div>
</div>

</div>

<div class="container" id="technology-stack-items">
       <h2> <i class="fas fa-layer-group master-icon"></i> My Technology Stack</h2>
       <hr/>
    <div id="technologies-list">
        <app-technology-stack-item
        class="technology-stack-item" 
        presentationIcon='fas fa-server'
        stackTitle="Backend" 
        stackItemsCSV='C# Language,ASP.NET MVC 5,ASP.NET Web API 2,WCF Services'></app-technology-stack-item>
        
        <app-technology-stack-item 
        class="technology-stack-item"
        presentationIcon='fas fa-database'
        stackTitle='Database' 
        stackItemsCSV='SQL Server,MySQL'></app-technology-stack-item>
        
        <app-technology-stack-item
        class="technology-stack-item"
        presentationIcon='fab fa-chrome'
        stackTitle='Front End' 
        stackItemsCSV='Material Design Lite,Bootstrap,jQuery, Angular 8.x'></app-technology-stack-item>
    </div>
</div>

<div id="home-github-repo-item">
    <app-portfolio></app-portfolio>
</div>



</div>

