#welcome-page{
    min-height: 100vh;
    width:100%;
    position: relative;
}


#welcome-page{
    background:url(../../../assets/system.jpeg);
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

#background-animations{
    position: absolute;
    z-index:1;
    width:500vw;
}

#background-animations h1{
    color:rgba(255,255,255,0.2);
    text-transform: uppercase;
}

#background-animations h1:nth-child(1){
    font-size: 15em;
    animation-name: text-move-animate-ltr;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}

#background-animations h1:nth-child(2){
    font-size: 15em;
    animation-name: text-move-animate-rtl;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}

@keyframes text-move-animate-ltr {
    from {
        margin-left:0;
    }
    to {
        margin-left:10%;
    }
}

/* Standard syntax */
@keyframes text-move-animate-rtl {
    from {
        margin-left:10%;
    }
    to {
        margin-left:-5%;
    }
}

#foreground-content{
    position: absolute;
    width:100%;
    height: 100%;
    z-index:2;
    color:#FFF;
    text-align: center;
}

#title-content{
    margin-top:200px;
}



.master-icon{
    color:var(--second-dominant-color);
}

.content-holder{
    display: block;
    width: 85%!important;
    margin-left: 5%;
    margin-right:10%;
    margin-top:50px;
    margin-bottom: 50px;
}