<div class="note-item-wrapper">
    <textarea class="form-control create-note-textarea" #noteText placeholder="New Note">{{text}}</textarea>
    
    <div class="manage-notes-button">
        <div class="row">
            <div class="col">
                <button *ngIf="isNew === 'N'" class="btn btn-info"><i class="fas fa-times"></i></button>
            </div>
            <div class="col">
                <button *ngIf="isNew === 'Y'" class="btn btn-info" (click)="createNote(noteText)"><i class="fas fa-plus"></i></button>
            </div>
        </div>
    </div>
</div>