
<div class="slds-card slds-m-top_large">
    <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
    <div class="slds-media__figure">
        <i class="fas fa-code"></i>
    </div>
    <div class="slds-media__body">
    <h2 class="slds-card__header-title">
    <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" [title]="techStackItem.title">
    <span>{{techStackItem.title}}</span>
    </a>
    </h2>
    </div>
    </header>
    </div>
    <div class="slds-card__body slds-card__body_inner">
        <ul class="slds-has-dividers_around-space">
            <li class="slds-item" *ngFor="let d of techStackItem.dataItems">{{ d }}</li>
        </ul>



    </div>
    <footer class="slds-card__footer"></footer>
</div>