<div class="form-group">
    <p>Total Number of Characters: {{storyDraftCreate.charactersCount}}</p>
    <p>Total Number of Words: {{storyDraftCreate.wordsCount}}</p>
    <p>Status: {{storyDraftCreate.draftStatus}}</p>
</div>
<div class="form-group">
    <mat-progress-bar mode="determinate" [(value)]="percentageLimit"></mat-progress-bar>
</div>
<div class="form-group">
    <div class="btn-group" role="group" aria-label="Actions-Group">
        <a mat-raised-button href="javascript:void(0);" class="btn btn-sm btn-info" (click)="openTipsSheet()">Tips</a>
        <button mat-raised-button (click)="reset()" class="btn btn-sm btn-danger">Reset Data</button>        
        <button mat-raised-button (click)="addPara()" class="btn btn-sm btn-info">Add Paragraph</button>
        <a mat-raised-button class="btn btn-sm btn-success finalize-btn" routerLink="/story/print">Done and Proceed !!</a>
    </div>
</div>
<div class="form-group">
    <mat-form-field>
    <input matInput type="text" maxlength="150" [(ngModel)]="storyDraftCreate.title" placeholder="One Good Title To Catch Attention" (keyup)="countOnKeyUp()" />
    </mat-form-field>
</div>
<div *ngFor="let paraNumber of paragraphTracker" class="form-group">
    <mat-form-field>
    <textarea matInput maxlength="1000" [(ngModel)]="storyDraftCreate.paragraphs[paraNumber]" rows="10" placeholder="Some Good Content For Paragraph" (keyup)="countOnKeyUp()"></textarea>
    </mat-form-field>
</div>

<div class="form-group">
    <mat-form-field>
    <textarea maxlength="500" matInput [(ngModel)]="storyDraftCreate.summary" rows="5" placeholder="A Summary To Sum Up Everything" (keyup)="countOnKeyUp()"></textarea>
    </mat-form-field>
</div>
 