<div id="about-wrapper">
    <span class="about-verb">LEARNER</span>
    <span class="about-verb">DEVELOPER</span>
    <span class="about-verb">UX HOBBYIST</span>
</div>
<script>
    var childNo = 1;
    var resourceContext = setInterval(function () {
        $(".about-verb").css({ 'display': 'none' });
        $(".about-verb:nth-child(" + childNo + ")").css({ 'display': 'block' }).animate({'opacity':'1'});
        childNo = (++childNo) % 4;
        childNo = (childNo == 0 ? ++childNo : childNo);
        $(".about-verb:nth-child(" + childNo + ")").animate({ 'opacity': '0.1' });
    }, 1000);

    InitializeResources(resourceContext,'SetInterval');
  
</script>
