<div id="skills" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-around">

                <div class="card col-md-10">
                    <div class="card-body">
                        <h5 data-tag="title" class="card-title">Programming Languages</h5>
                        <h6 data-tag="subtitle" class="card-subtitle mb-2 text-muted">Domain Exposure in Various Programming Languages</h6>
                        <p data-tag="sometext" class="card-text">C# (Proficient), Java , Javascript , C , C++</p>
                    </div>
                </div>




                <div class="card col-md-5">
                    <div class="card-body">
                        <h5 data-tag="title" class="card-title">.NET Application Frameworks</h5>
                        <h6 data-tag="subtitle" class="card-subtitle mb-2 text-muted">All Frameworks with Good Hands on Experience</h6>
                        <p data-tag="sometext" class="card-text">ASP.NET MVC , ASP.NET WEB API , WCF , Entity Framework</p>
                    </div>
                </div>
                <div class="card col-md-5">
                    <div class="card-body">
                        <h5 data-tag="title" class="card-title">Front End Web Technologies</h5>
                        <h6 data-tag="subtitle" class="card-subtitle mb-2 text-muted">HTML , CSS , JAVASCRIPT</h6>
                        <p data-tag="sometext" class="card-text">Bootstrap , jQuery</p>
                    </div>
                </div>
                <div class="card col-md-3">
                    <div class="card-body">
                        <h5 data-tag="title" class="card-title">Verson Control Systems</h5>
                        <h6 data-tag="subtitle" class="card-subtitle mb-2 text-muted">Exposure in VCS</h6>
                        <p data-tag="sometext" class="card-text">GIT , Tortoise , TFS</p>
                    </div>
                </div>
                <div class="card col-md-3">
                    <div class="card-body">
                        <h5 data-tag="title" class="card-title">Application Design Architectures</h5>
                        <h6 data-tag="subtitle" class="card-subtitle mb-2 text-muted">Some are</h6>
                        <p data-tag="sometext" class="card-text">MVC , MVVM , N-TIER</p>
                    </div>
                </div>









            </div>
        </div>
    </div>
</div>
<script>
    $(".card").hover(
        function () {
            $(this).animate({
                opacity:0.8
            });
        }, function () {
            $(this).animate({
                opacity: 1
            });
    });
</script>