.image-overlay-section .fit-bgimg{
  position: absolute;
  width:100%;
}

.image-overlay-section .overlay{
  position: absolute;
  z-index: 999;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
}

.image-overlay-section .overlay-text{
  position: absolute;
  z-index: 9999;
  color:#FFF;
  text-align: center;
  width: 100%;
  margin-top: 30%;
}
