@page "/"

<div class="show-index @(indexChangeClasses)" id="index-wrapper">
<div class="row">    
<div class="col-md-6 img-section1">
<img src="/assets/images/laptop.jpg"/>
</div>
<div class="col-md-6">

<div class="container">

<div class="greet">
<h3>Hey, There !! Welcome To My Site !</h3>
</div>

<div class="name">
<h1><span class="oi oi-person"></span> VARUN SETIA <span class="oi oi-code"></span></h1>
<small><span class="oi oi-badge"></span> I AM FULL STACK DEVELOPER, LOVE TEA & ITALIAN FOOD, etc. <span class="oi oi-badge"></span> </small>
</div>

<div class="intro">
<ul>
    @foreach (var item in skills())
    {
        <li><span class="oi oi-pin"></span> @item</li>    
    }
    
    
</ul>
<span @onclick="showProjects" id="next-page-index" class="oi oi-arrow-circle-bottom"></span>

</div>

</div>

</div>
</div>
</div>
<div class="hide-projects @(projectChangeClasses)" id="projects">
    <div class="row">
        <div class="col-md-6 projects">
            <div class="container">
                <a @onclick="showHome" href="javascript:void(0);"><span class="oi oi-home"></span> Go Home </a>
            <h2>Projects I Worked On !!</h2>
            <hr/>
            <ul>
     <li> <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Azure Application Migration X1</div>
</div></li>
<li>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Full Stack Application Development X10</div>
</div>
</li>
</ul>
<a @onclick="showPlatform" href="javascript:void(0)">About Platform !</a>
            </div>
        </div>
        <div class="col-md-6 image-wrapper">
            <img class="img-fluid" src="/assets/images/tea.jpg"/>
        </div> 
    </div>
</div>
<div class="hide-platform @(platformChangeClasses)" id="platform">
<div class="row">
    <div class="col-12 details">
        <h2>About This Platform!!</h2>
        <ul>
            <li>ASP.NET Core Blazor webassembly (.NET 6 Preview 4)</li>
            <li>Github Pages</li>
            <li>Source Code Link: https://github.com/VARUN46/varun46.github.io</li>
            <li>Date: 12 June 2021</li>
        </ul>
        <a @onclick="showHome" href="javascript:void(0)">Home ?</a>
    </div>
    <div class="col-12 thankyou">
        <img src="/assets/images/ThankYou.jpg"/>
    </div>
</div>
</div>


@code {
    string indexChangeClasses="";
    string projectChangeClasses="";
    string platformChangeClasses="";

void showHome(){
    this.indexChangeClasses="";
    this.projectChangeClasses="";
    this.platformChangeClasses="";
}

 void showProjects(){
    this.projectChangeClasses = "show-projects"; 
    this.indexChangeClasses = "hide-index";
  }

  void showPlatform(){
      this.platformChangeClasses ="show-platform";
      this.indexChangeClasses = "hide-index";
      this.projectChangeClasses="";
  }

    string[] skills(){
        List<string> skills = new List<string>();
        skills.Add("Azure");
        skills.Add(".NET Core");
        skills.Add("Angular");
        return skills.ToArray();
    }
}