/* You can add global styles to this file, and also import other style files */
a{
  text-decoration: none;
}

.black-bg{
  background: #000;
}

.white-text{
  color:#FFF;
}
.varun-bg{
  background: #283593 !important;
  color:#FFF;
}
.varun-bg a{
  color:#FFF;
}


img{
  max-width: 100%;
}


.full-height{
  height:100vh;
}
