/* You can add global styles to this file, and also import other style files */
:root{
  --themecolorprimary:#102980;
  --themecolorlight:#4e51b0;
  --themecolordark:#000153;
  --analogous1:#aedff8;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
