<div class="container full-height">
  <div class="row">
    <div class="col-md-6 portfolio-img-wrapper">
      <img src="https://res.cloudinary.com/dfptza4sj/image/upload/v1633241218/Portfolio/Me_hfwalc.png"/>
    </div>
    <div class="col-md-6 content">
      <ul class="ul">
        <li class="fsd">Software Engineer</li>
        <li class="cc">Content Creator</li>
        <li class="f">Foodie</li>
      </ul>
    </div>
    <div class="col-md-12">
      <div class="connect-links">
      <nav class="nav nav-pills nav-fill">
        <a class="nav-link" aria-current="page" target="_blank" href="https://www.youtube.com/channel/UCniDSMRxMr4w6eWGIrtE6WA"> Youtube Channel</a>
        <a class="nav-link" target="_blank" href="https://github.com/VARUN46/">Github Repository</a>
        <a class="nav-link" target="_blank" href="https://stackoverflow.com/users/5108335/varun-setia">Stackoverflow Profile</a>
        <a class="nav-link" target="_blank" href="https://trailblazer.me/id/vsetia">Salesforce Trailblazer Profile</a>
        <a class="nav-link" target="_blank" href="https://learn.microsoft.com/en-us/users/vsetia46">Microsoft Profile</a>
        <a class="nav-link" target="_blank" href="https://medium.com/@vsetia46">Blog</a>
      </nav>
    </div>
    </div>
  </div>
</div>
