<section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="welcome-mat-13-label" aria-describedby="welcome-mat-13-content" aria-modal="true">
    <div class="slds-modal__container">
    <div class="slds-modal__content" id="welcome-mat-13-content">
    <div class="slds-welcome-mat">
    <div class="slds-welcome-mat__content slds-grid">
    <div class="slds-welcome-mat__info slds-size_1-of-2">
    <div class="slds-welcome-mat__info-content">
    <i class="fas fa-address-card user-card-icon"></i>
    <h2 class="slds-welcome-mat__info-title" id="welcome-mat-13-label">Varun Setia</h2>
    <div class="slds-welcome-mat__info-description slds-text-longform">
    <p>A Full Stack Developer</p>
    </div>
   
    </div>
    </div>
    <ul class="slds-welcome-mat__tiles slds-size_1-of-2">
    <app-home-list-item routerLink="/local/technologies"
                        title="My Technology Stack"
                        iconClass="fas fa-layer-group"
                        description="Technologies That I Have Worked On !"></app-home-list-item>
    <app-home-list-item routerLink="/remote/github"
                        title="My Github Repositories"
                        iconClass="fab fa-github"
                        description="Github Repositories Created By Me !"></app-home-list-item>
    <app-home-list-item routerLink="/local/about"
                        title="About Application"
                        iconClass="fas fa-info-circle"
                        description="About This Application!"></app-home-list-item>

    <app-home-list-item routerLink="/apps/"
                        title="Apps"
                        iconClass="fab fa-angular"
                        description="Coming Soon"></app-home-list-item>

    </ul>
    </div>
    </div>
    </div>
    </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>