<div class="container-fluid white-text">
  <div class="row">
    <div class="col-md-4 full-height contain-content">
   <app-image-overlay-section imageSrc="../../../assets/images/Macroni.jpg" titleText="Foodie"></app-image-overlay-section>
    </div>
    <div class="col-md-4 full-height contain-content">
      <app-image-overlay-section imageSrc="../../../assets/images/wine.jpg" titleText="Love to Party"></app-image-overlay-section>
    </div>
    <div class="col-md-4 full-height contain-content">
      <app-image-overlay-section imageSrc="https://res.cloudinary.com/dfptza4sj/image/upload/v1633241218/Portfolio/Me_hfwalc.png" titleText="Software Engineer"></app-image-overlay-section>
    </div>
  </div>
  <div class="row">
    <app-skills-dictionary></app-skills-dictionary>
  </div>
</div>
