<nav class="navbar navbar-expand-lg navbar-dark bg-dynamic nav-varun">
    <a class="navbar-brand" href="#">Mr. Varun Setia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li id="theme-colors" class="nav-item">
          <a data-bgcolor="#311B92" data-color="#FFF" href="javascript:void(0);"></a>
          <a data-bgcolor="#039BE5" data-color="#000" href="javascript:void(0);"></a>
          <a data-bgcolor="#BF360C" data-color="#000" href="javascript:void(0);"></a>
        </li>
            
      </ul>
    </div>
  </nav>