.nav-varun{
    border-bottom: var(--border-1) solid var(--secondary-color);
}

.nav-varun a{
    color:var(--secondary-color);
}

#theme-colors{
    margin-top: 10px;
    position: absolute;
    right:10px
}

#theme-colors a{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 10px;
}
