body{
    background:#000;
}
body,
body a {
    color: #FFF;
}

#master-nav ul 
{
    list-style:none;
    padding:0;
}
#master-nav ul{
        display:table;
        width:200px;
        margin-left:auto;
        margin-right:auto;
        height:100vh;
}
    #master-nav ul a {
        background:rgba(72, 0, 255,0.2);
        display: table-cell;
        display: block;
        width: 100%;
        border: 0;
        padding-top: 4vh;
        padding-bottom: 4vh;
        vertical-align: middle;
        text-align: center;
        box-shadow:4px 6px 8px 2px rgba(72, 0, 255,0.7);
        margin:9px;
    }
        #master-nav ul a:hover {
            text-decoration: none;
            background: rgba(72, 0, 255,0.4);
            transition:1s;
        }
.big-icon{
    display:block;
    font-size:3em;
}
#master-content{
    z-index:-1;
    position:absolute;
    top:0;
    
}

#master-content li{
    width:33%;
    height:50vh;
    float:left;
    list-style:none;
    font-size:1.5em;
}

.summary{
    opacity:0;
}

.first-sight{
    text-transform:uppercase;
    background:yellow;
    box-shadow:2px 3px 4px yellow;
    color:#000;
    font-size:1.1em;
    padding:3px;
    margin:5px;
}

#full-page-content{
    display:block;
    position:fixed;
    width:100vw;
    height:100vh;
    background:rgb(128, 128, 128);
    z-index:1;
    top:0;
    left:0;
    
}

    #full-page-content a,
    #full-page-content {
        color: #000;
    }
#full-page-content ul{
    margin-top:40px;
}

#close-full-page-content{
    color:red;
    font-size:4em;
    position:absolute;
    right:100px;
    top:50px;
    z-index:9999;
    cursor:pointer;
}

#close-full-page-content:hover{
    color:black;
    transition:0.6s all;
}

#full-page-content{
    display:none;
}

#connect-full-page img{
    width:60px;
}

#connect-full-page li{
    list-style:none;
    margin-top:30px;
    font-size:2em;
}