a{
    color:initial;
}

#top-menu{
    width:100%;
    height:100px;
    line-height:100px;
    background: rgb(200,200,200);
    position: fixed;
    top:0;
    left:0;
    overflow: hidden;
    z-index:2;
}

#top-menu ul{
    list-style:none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#top-menu ul a{
    flex-wrap: wrap;
    width:100px;
}

#content-body{
    position: absolute;
    top:100px;
    width:100%;
    background:url("Images/code.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page{
    width:100%;
    height:100vh;
    color:#FFF;
    background:rgba(0,0,0,0.6);
}

#about-content{
    display: table;
}

#about-content .about-content-data{
    display: table-cell;
    vertical-align: middle;
    height:calc(100vh -  100px);
}

#about-content .fas
{
    color:#FFF;
    font-size:3em;
}

#portfolio-app{
    width:100%;
    height:70vh;
    background:#FFF;
}
#portfolio-app-nav{
    width:100%;
    height:50px;
    line-height:50px;
    box-shadow: 3px 3px rgba(0,0,0,0.3);
}

#portfolio-app-nav ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#portfolio-app-nav ul a{
    font-size: 2em;
}

#portfolio-app-presenter{
    height:calc(100% - 50px);
    background: #000;
    overflow:auto;
}

#git-presenter{
    color:greenyellow;
}

#git-presenter a{
    color:lightblue;
}

.presenter{
    display:none;
}

#stack-presenter{
    line-height:300px;
    width:100%;
    text-align: center;
}


#flying-icons{
    position:fixed;
    height:calc(100vh - 100px);
    width:60px;
    right:0;
    top:100px;
    background:#FFF;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

#flying-icons ul{
    list-style: none;
    padding:0;
}

#flying-icons ul a{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 150px;
}