body{
    background:#000;
    color:#FFF;
}

h1 {
    text-transform: uppercase;
    font-size: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    letter-spacing:0.4em;
}

h2{
    font-size:2em;
    margin-top:1em;
    margin-bottom:1em;
}

#master-navigation {
position:fixed;
width:100px;
height:100vh;
left:0;
top:0;
}

#master-navigation ul {
    padding: 0;
    list-style: none;
}

#master-navigation a{
    color:#FFF;
    padding-top:50px;
    padding-bottom:50px;
    display:block;
    width:100%;
    text-align:center;
}

#master-navigation a:hover{
    text-decoration:none;
    background:#FFF;
    color:#000;
    transition:0.5s all;
}

.nav-first-letter{
    font-size:2.4em;
    color:blue;
    font-weight:bolder;
}

#connect-container,
#project-container {
    display: none;
    position: fixed;
    z-index: 9999;
    background: #FFF;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    color: #000;
}


.link-close{
    position:absolute;
    padding:20px;
    background:#000;
    color:#FFF;
    
}

#connect-container img{
    width:50px;
    height:50px;
} 