body{
    background:#000;
    color:#FFF;
}


h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#master-navigation {
position:fixed;
width:100px;
height:100vh;
left:0;
top:0;
}

#master-navigation ul {
    padding: 0;
    list-style: none;
}

#master-navigation a{
    color:#FFF;
    padding-top:50px;
    padding-bottom:50px;
    display:block;
    width:100%;
    text-align:center;
}

#master-navigation a:hover{
    text-decoration:none;
    background:#FFF;
    color:#000;
    transition:0.5s all;
}

.nav-first-letter{
    font-size:2.4em;
    color:blue;
    font-weight:bolder;
}
#about-container,
#connect-container,
#project-container {
    display: none;
    position: fixed;
    z-index: 9;
    background: #FFF;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    color: #000;
    margin-left: 100px;
    overflow:auto;
    padding-top:100px;
}

#home-container {
margin-left:100px;
overflow:auto;
display:none;
}

#home-container h1 {
        text-transform: uppercase;
        font-size: 5em;
        margin-top: 1em;
        margin-bottom: 1em;
        letter-spacing: 0.4em;
}

#connect-container ul{
    list-style:none;
    padding:0;
}

#connect-container ul li{
    margin-top:20px;
}
#connect-container ul a{
    color:#000;
}

@media all and (max-width:600px) {
        #home-container h1 {
        font-size: 3em;
        word-break:break-word;
        margin-top: 1em;
        margin-bottom: 1em;
        letter-spacing: 0.1em;
    }
    #about-container h2,
    #connect-container h2,
    #project-container h2 {
        font-size: 14px;
    }

        #about-container h3,
        #connect-container h3,
        #project-container h3 {
            font-size: 13px;
        }
    #about-container h5,
    #connect-container h5,
    #project-container h5 {
        font-size: 12px;
    }
}


.link-close {
    position: absolute;
    padding: 20px;
    background: #000;
    color: #FFF;
    top:0;
    left:0;
}

#connect-container img{
    width:50px;
    height:50px;
}

