<div class="container">
  <div class="row">
    <div class="col-md-3 data-card">
      <app-data-list-card title="Programming Languages" listItemsCsv="C#(.NET), Typescript, Javascript"></app-data-list-card>
    </div>
    <div class="col-md-3 data-card">
      <app-data-list-card title="Backend Development" listItemsCsv="Microservices (Docker and Kubernetes),.NET 5 Razor Pages,.NET 5 Web APIs ,Express with NodeJs, MongoDB and SQL Server"></app-data-list-card>
    </div>
    <div class="col-md-3 data-card">
      <app-data-list-card title="Cloud Skills" listItemsCsv="Azure - Multiple Services, Bit of AWS"></app-data-list-card>
    </div>
    <div class="col-md-3 data-card">
      <app-data-list-card title="Frontend Development" listItemsCsv="Angular 8/10/12, .NET 5 Blazor Client Side"></app-data-list-card>
    </div>
  </div>

</div>
