<div class="main-page-wrapper">
<app-section-title fontIconClasses="far fa-window-maximize" title="My Live Apps"></app-section-title>

<hr/>
<div id="apps-collection">
    <app-my-live-apps-entry class="card-formatter" appName="Checklist App" description="Checklist App to Manage Daily / Weekly / Random Activities. Made with Angular 8" url="https://varun46.github.io/checklist-app"></app-my-live-apps-entry>
    <app-my-live-apps-entry class="card-formatter" appName="Story Teller App" description="Tell Stories in the best way. Made with Angular 8" url="https://varun46.github.io/story-teller/"></app-my-live-apps-entry>
</div>

</div>