<div class="container">
<span style="zoom:2;text-align: center;" class="mdl-chip mdl-chip--contact">
    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="far fa-window-maximize"></i></span>
    <span class="mdl-chip__text">My Live Apps</span>
</span>

<hr/>

<app-my-live-apps-entry appName="Checklist App" description="Checklist App to Manage Daily / Weekly / Random Activities. Made with Angular 8" url="https://varun46.github.io/checklist-app/"></app-my-live-apps-entry>

</div>