
<div class="main-page-wrapper">
<app-section-title fontIconClasses="fas fa-layer-group master-icon" title="My Technology Stack"></app-section-title>

        <hr/>
            <div id="technologies-list">
                <app-technology-stack-item
                presentationIcon='fas fa-server'
                stackTitle="Backend" 
                stackItemsCSV='C# Language,ASP.NET MVC 5,ASP.NET Web API 2,ASP.NET Core,WCF Services'></app-technology-stack-item>
                
                <app-technology-stack-item 
                presentationIcon='fas fa-database'
                stackTitle='Database' 
                stackItemsCSV='SQL Server,MySQL'></app-technology-stack-item>
                
                <app-technology-stack-item
                presentationIcon='fab fa-chrome'
                stackTitle='Front End' 
                stackItemsCSV='Material Design Lite,Bootstrap,jQuery, Angular 8.x'></app-technology-stack-item>
            </div>
</div>
