<div class="container">
    <div *ngIf="this.IsLoadingData">
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
    </div>
    
    <span style="zoom:2;text-align: center;" class="mdl-chip mdl-chip--contact">
        <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="fas fa-code-branch master-icon"></i></span>
        <span class="mdl-chip__text">My Github Repositories</span>
    </span>
    
    

    <hr/>
        <div *ngIf="!this.IsLoadingData">
            <app-github-repo-item 
            *ngFor="let item of repos"
            title="{{ item.name }}" 
            description="{{ item.description }}"
            url="{{ item.html_url }}"></app-github-repo-item>
        </div>
</div>