


<div class="slds-card slds-m-top_large">
    <div class="slds-box">
    <article class="slds-tile slds-media">
    <div class="slds-media__body">
    <h3 class="slds-tile__title slds-truncate" [title]="item.name">
         <a target="_blank" [href]="item.html_url"><i class="fas fa-code-branch"></i> {{ item.name }}</a>
    </h3>
    <div class="slds-tile__detail">
    <dl class="slds-list_horizontal slds-wrap">
    <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Description">Description:</dt>
    <dd class="slds-item_detail" title="Description">{{ item.description }}</dd>
    </dl>
    </div>
    </div>
    </article>
    </div>
</div>