<div id="introduction-wrapper">
  <div id="my-profile-details-card">
<app-profile-card
profileUrl = "https://res.cloudinary.com/dfptza4sj/image/upload/v1633241218/Portfolio/Me_hfwalc.png"
fullName = "Varun Setia"
introduction = "Hey, I am Varun Setia. I am born and I live in Delhi. I am a full Stack Developer, my main area of focus is cloud oriented development. I am System Designing Enthusiast.
I have total Experience of more than 4 Years. I love North Indian food. I am always ready to disuss new ideas."
moreCsv ="Microservices Development,6 Certifications - 5 Azure and 1 Microsoft Power Platform,Single Pager Application Development using Angular, Express with Node JS and .NET Core Web APIs"
visitLinkName="Read More"
visitLink="/skillset"
></app-profile-card>
</div>
</div>
