<div id="my-details">
<h2>My Technology Stack</h2>
<h5>Worked Mostly In Microsoft Technology Stack using C#. Also, worked on JavaScript/TypeScript.Frameworks are,</h5>
<ul>
    <li>Angular Application Development</li>
    <li>Azure Services</li>
    <li>.NET Core and .NET Framework</li>
</ul>

<h5>My Data Analytics Stack Is,</h5>
<ul>
    <li>Python using Pandas</li>
    <li>Tableau</li>
    <li>Alteryx</li>
 
</ul>

<h5>Database is SQL Server</h5>
</div>
<a class="btn btn-lg btn-work" routerLink="/work/work">Work Experience --></a>
