#navigation-bar{
    position: fixed;
    z-index:200;
}

#navigation-bar ul{
    list-style: none;
}

#navigation-bar ul a{
    text-decoration: none;
    color:rgb(0,0,0);
    text-shadow: 1px 1px #FFF;
}

#navigation-expander{
    margin:30px;
}

#navigation-expander .bar{
    width:40px;
    height: 5px;
    background:#000;
    border:1px solid #FFF;
    margin-top:10px;
    cursor: pointer;
}

.hide{
    display:none;
}

.open-bar{
    width: 50px !important;
    margin-top:0!important;
}
.open-bar:nth-child(1){
    transform: rotate(45deg);
    transition:2s all;
}
.open-bar:nth-child(2){
    display: none;
}
.open-bar:nth-child(3){
    transform: rotate(-45deg);
    transition:2s all;
}