#mobile-navigation-ham{
    width:70px;
    height:70px;
    border: 1px solid #000;
    top:0;
    left:0;
    position: fixed;
    z-index: 9999;
    cursor: pointer;
    background: #FFF;
}

#mobile-navigation-ham .bar{
    position: relative;
    width:80%;
    left:10%;
    height:10px;
    background: #000;
    margin-top:10px;
}

#mobile-navigation-list{
    position: fixed;
    left:0;
    background: #FFF;
    z-index: 999;
    width:400px;
    height:100%;
    overflow: auto;
    box-shadow: 2px 2px 2px rgb(200,200,200);
}

#mobile-navigation-list a{
    display: block;
    color:#000;
    font-size: 2rem;
    margin-top:30px;
}

#close-mobile-navigation{
    position: absolute;
    right:10px;
    top:10px;
    font-size: 2rem;
    cursor: pointer;
}
